<h1>splash page</h1>
<h2><input type="text" ng-model="adminCtrl.singleSplash.photo" placeholder="splash photo"></h2>
<button ng-click="adminCtrl.updateSplash(adminCtrl.singleSplash)">Update</button>


<h1>update featured person</h1>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredPicture" placeholder="featured picture"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredName" placeholder="featured name"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.questionOne" placeholder="question one"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.answerOne" placeholder="answer one"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.questionTwo" placeholder="question two"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.answerTwo" placeholder="answer two"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.questionThree" placeholder="question three"></h2>
<button ng-click="adminCtrl.updatePerson(adminCtrl.singlePerson)">Update</button>



<h1>update about</h1>
<h2><input type="text" ng-model="adminCtrl.singleRule.aboutUs" placeholder="about us"></h2>
<h2><input type="text" ng-model="adminCtrl.singleRule.ruleOne" placeholder="rule one"></h2>
<h2><input type="text" ng-model="adminCtrl.singleRule.ruleTwo" placeholder="rule two"></h2>
<button ng-click="adminCtrl.updateRule(adminCtrl.singleRule)">Update</button>


<h1>update event</h1>
<h2><input type="text" ng-model="adminCtrl.singleEvent.eventLocationName" placeholder="location name"></h2>
<h2><input type="text" ng-model="adminCtrl.singleEvent.eventLocationTime" placeholder="location time"></h2>
<h2><input type="text" ng-model="adminCtrl.singleEvent.eventLocationAddress" placeholder="location address"></h2>
<button ng-click="adminCtrl.updateEvent(adminCtrl.singleEvent)">Update</button>
