<!-- navbar navbar navbar navbar navbar navbar navbar navbar-->
<div class="navbar ">
    <div class="containerNav">

        <div class="rightNav">
            <a class="links blog"       ng-click="scrollTo('AboutUs')"          href="" > what we do </a>
            <a class="links whatWeDo"   ng-click="scrollTo('UpcomingEvent')"    href="" > next event </a>
            <a class="links gallery"    ng-click="scrollTo('FeaturedMemebers')" href="" > members    </a>
            <a class="links investment" ng-click="scrollTo('Photos')"           href="" > photos     </a>
            <a class="links contact"    ng-click="scrollTo('ContactUs')"        href="" > info       </a>
        </div>
    </div>
</div>

<div class="wrapper">

<!-- 111111 splash splash splash splash splash splash splash splash -->

    <div class="slide" id="slide1" id="Home">
        <div class="row">
            <div class="containerSlogan col-lg-12 col-md-12  centerText">
                <div class="slogan">let's talk side projects</div>
            </div>
        </div>
    </div>


<!-- 22222222 about about about about about about about about -->

<div id="AboutUs"></div>

<div class="slide" id="slide2">
    <div class="container">
        <ul>
            <li ng-repeat="Rule in mainCtrl.Rule">
                <div class="row">
                    <div class="bigTextSlide2   col-lg-12 col-md-12  centerText" >the challenge</div>
                    <div class="smallTextSlide2 col-lg-12 col-md-12  centerText" >{{Rule.challenge}}</div>
                </div>
                <div class="blackLine       centerText" ></div>
                <div class="row">
                    <div class="bigTextSlide2   col-lg-12 col-md-12  centerText" >our solution</div>
                    <div class="smallTextSlide2 col-lg-12 col-md-12  centerText" >{{Rule.solution}}</div>
                </div>
                <div class="blackLine       centerText" ></div>
                <div class="row">
                    <div class="bigTextSlide2   col-lg-12 col-md-12  centerText" >we only have two rules</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4">
                        <div class="ruleNumber col-lg-12 col-md-12  centerText">1              </div>
                        <div class="smallTextSlide2 col-lg-12 col-md-12  centerText">{{Rule.ruleOne}}</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="ruleNumber col-lg-12 col-md-12  centerText">2              </div>
                        <div class="smallTextSlide2 col-lg-12 col-md-12  centerText">{{Rule.ruleTwo}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>



<!-- 2.5    shit shit shit  -->

<div class="slide2-3">
    <div class="containerShit centerText">
        <div class="shit">we make shit happen</div>
    </div>
</div>
<!-- 3333333 event event event event event event event event event -->

<div id="UpcomingEvent"></div>

<div class="slide" id="slide3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="bigTextSlide3">upcoming event</div>
                <ul>
                    <li ng-repeat="Event in mainCtrl.Event">
                        <div class="row">
                            <div class="smallTexttSlide3 col-lg-3">Date</div>
                            <div class="smallTextSlide3 col-lg-9">{{Event.eventLocationDate}}</div>
                        </div>
                        <div class="row">
                            <div class="smallTexttSlide3 col-lg-3">Name</div>
                            <div class="smallTextSlide3 col-lg-9">{{Event.eventLocationName}}</div>
                        </div>
                        <div class="row">
                            <div class="smallTexttSlide3 col-lg-3">Address</div>
                            <div class="smallTextSlide3 col-lg-9">{{Event.eventLocationAddress}}</div>
                        </div>
                        <div class="row">
                            <div class="smallTexttSlide3 col-lg-3">City, State</div>
                            <div class="smallTextSlide3 col-lg-9">{{Event.eventLocationCityStateZip}}</div>
                        </div>
                    </li>
                </ul>
                <div class="containerForm">
                    <div class="rsvpButtonText">Thinking about coming? Click on the link below to reserve your spot!</div>
                    <button class="rsvpButton" ng-click="formm =! formm">R.S.V.P.</button>
                    <form class="RsvpForm" ng-show="formm">
                        <input placeholder="Name*"            type="text" ng-model="Rsvp.name"      ng-required="'true'">
                        <input placeholder="Email Address*"   type="text" ng-model="Rsvp.email"     ng-required="'true'">
                        <input placeholder="Website"          type="text" ng-model="Rsvp.website"   >
                        <button class="submitRsvpButton" ng-click="mainCtrl.addRsvp(Rsvp); formm =! formm" >Submit!</button><button class="cancelRsvpButton" ng-click="formm =! formm">X</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>

<!-- 4444444 featured people featured people featured people featured people featured people -->

    <div id="FeaturedMemebers"></div>

    <div class="slide" id="slide4">
        <div class="container">
            <div class="row">
                <div class="centerText biggestTextSlide4">people you should know about</div>
            </div>
            <div class="blackLine"></div>
            <ul>
                <li ng-repeat="Person in mainCtrl.Person">
                    <a href="" class="">

                        <div class="row">
                            <img ng-src="{{Person.featuredPicture}}" alt="{{Person.featuredFirstName}} {{Person.featuredLastName}}" class="thumb col-lg-3 col-md-3 ">
                        </div>
                        <div class="row">
                            <div class="containerBig">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 rightText">
                                    <div class="text1Slide4"> {{Person.featuredFirstName}} {{Person.featuredLastName}}</div>
                                    <div class="text1Slide4"> {{Person.featuredWebsite}}                              </div>
                                    <div class="text1Slide4"> {{Person.featuredProfession}}                           </div>
                                    <div class="text2Slide4"> {{Person.featuredBio}}                                 </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs centerText">
                                    <img ng-src="{{Person.featuredPicture}}">
                                </div>
                                <div class="col-lg-4 hidden-md hidden-sm hidden-xs leftText">
                                    <div class="containerQuestions leftText">
                                        <div class="Q"> {{Person.questionOne}}  </div>
                                        <div class="A"> {{Person.answerOne}}    </div>
                                        <div class="Q"> {{Person.questionTwo}}  </div>
                                        <div class="A"> {{Person.answerTwo}}    </div>
                                        <div class="Q"> {{Person.questionThree}}</div>
                                        <div class="A"> {{Person.answerThree}}  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <div class="bigFeature hidden-md hidden-sm hidden-xs">Click on <br>a circle<br> above!</div>

            </ul>
        </div>
    </div>


<!-- 555555555 photos photos photos photos photos photos photos photos photos photos -->

    <div id="Photos"></div>

    <div class="slide" id="slide5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  centerText bigTextSlide5">photo gallery</div>
            </div>
            <div class="row" ng-init="limit = 8">
                <ul class="centerText">
                    <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="Gallery in mainCtrl.Gallery | limitTo: limit as results">
                        <img ng-src="{{Gallery.photo}}">
                    </li>
                </ul>
            </div>
            <div class="row">
                <button class="showMore col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12" ng-hide="results.length === mainCtrl.Gallery.length" ng-click="limit = limit +4">show more...</button>
            </div>
        </div>
    </div>

<!-- 6666666666 contact contact contact contact contact contact contact contact contact contact -->

    <div id="ContactUs"></div>

    <div class="slide" id="slide6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
                    <div class="bigTextSlide6">  say hello!               </div>
                    <div class="smallTextSlide6">WE WOULD LOVE TO MEET YOU. </div>
                    <div class="smallTextSlide6">SEND US AN EMAIL AND TELL US ABOUT YOUR PROJECT AND WE'LL SEE WHERE WE CAN HELP!</div>
                    <br>
                    <br>
                    <br>
                    <div class="smallTextSlide6">Charleston, SC           </div>
                    <div class="smallTextSlide6">803-984-3126             </div>
                    <div class="smallTextSlide6">example@gmail.com        </div>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-lg-4 col-md-4">
                    <form class="contactForm">
                        <label>*YOUR NAME</label>
                        <input type="text" ng-required="'true'" ng-model="Contact.name">
                        <label>*YOUR EMAIL</label>
                        <input type="text" ng-required="'true'" ng-model="Contact.email">
                        <label>YOUR WEBSITE</label>
                        <input type="text" ng-model="Contact.website">
                        <label>YOUR MESSAGE</label>
                        <textarea id="contactMessage" ng-model="Contact.message"></textarea>
                        <button class="contactFormButton" ng-click="mainCtrl.addContact(Contact)">SEND YOUR MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



<!-- footerrrrrr -->
    <div class="shitHappen"></div>
    <div class="footer">
        <div class="containerFooter">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footerText">© 2015 Students Collaborate</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 social">
                    <a class="footerLinkText" href="">facebook</a>
                    <a class="footerLinkText" href="https://twitter.com/studentscollab">twitter</a>
                    <a class="footerLinkText" href="https://instagram.com/studentscollab">instagram</a>
                </div>
            </div>
        </div>
    </div>

</div>
