.containerNav {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgb(254, 254, 254);
    z-index: 30;
    border-bottom: 3px solid rgb(151, 7, 12);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);

}
.leftNav {
    float: left;
}
.home {
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-decoration: none;
    padding-right: 5px;

}
.rightNav {
    float:right;
}
.links {
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-decoration: none;
    padding-left: 5px;
    font-family: Montserrat, sans-serif;
    color: #2b2925;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 30px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    letter-spacing: 3px;
    font-weight: 800;

}
.links:hover {
    color: rgb(151, 7, 12);
}
.logo {
    height: 77px;
}
