.containerNav {
    width:940px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 30;
    border-bottom: 1px solid rgb(153, 153, 153);

}
.leftNav {
    float: left;
}
.home {
    display:table-cell;
    vertical-align: middle;
    height: 93px;
    text-decoration: none;
    padding-right: 5px;

}
.rightNav {
    float:right;
}
.links {
    display:table-cell;
    vertical-align: middle;
    height: 93px;
    text-decoration: none;
    padding-left: 5px;
    font-family: Montserrat, sans-serif;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 20px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    letter-spacing: 3px;
    font-weight: 800;
}
.links:hover {
    color: rgb(151, 7, 12);
}
.logo {
    height: 77px;
}
