/* slide 1   splash */
.slogan {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 2.0em;
    font-weight: 600;
    letter-spacing: 0.625em;
    text-decoration: none;
    text-transform: uppercase;
    max-width:850px;
    padding: 15px;
    background-color: rgb(18, 18, 18);
    display:inline-block;
}

.containerSlogan {
    top: 40vh;
}
