/* slide 1   splash */
.slogan {
    top: 40vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 50px;
    line-height: 49px;
    font-weight: 600;
    letter-spacing: 9px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.29);
}
