/* slide 1   splash */
.slogan {
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 2.8em;
    line-height: 49px;
    font-weight: 600;
    letter-spacing: 12px;
    text-decoration: none;
    text-transform: uppercase;
    max-width:880px;
    padding: 25px 15px;
    background-color: rgb(18, 18, 18);
}

.containerSlogan {
    top: 40vh;
}
