/* slide 3   about/rules */

.blackLine {
    width: 120px;
    border-bottom: 1px solid rgb(18, 18, 18);
    margin: 20px auto;

}

.bigTextSlide2 {
    font-family: "verlag","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #B0976D;
    font-size: 1.600em;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 7px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;

}
.smallTextSlide2 {
    font-family: "quadon","Helvetica Neue", Helvetica,Arial,sans-serif;
    color: rgb(163, 163, 163);
    font-size: 1.350em;
    line-height: 24px;
    font-weight: 100;
    text-align:center;
    padding-bottom: 20px;

}

.ruleNumber {
    font-family: Montserrat, sans-serif;
    color: rgb(163, 163, 163);
    font-size: 1.000em;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 100px;
    width: 42px;
    left: 40%;
}

.ruleBox1 {
    padding: 0 100px 0 200px;
}
.ruleBox2 {
    padding: 0 200px 0 100px;
}
