/* slide 3   about/rules */



.bigTextSlide2 {
    font-family: 'Oswald', sans-serif;
    color: #B0976D;
    font-size: 1.600em;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 7px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;

}
.smallTextSlide2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 1.350em;
    line-height: 24px;
    font-weight: 100;
    text-align:center;
    padding: 10px 0;

}

.ruleNumber {
    font-family: 'Roboto', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 1.000em;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 100px;
    width: 42px;
    margin-bottom: 10px;
    margin-top: 10px;

}
