/* slide 2   next event */
#slide2 .container {
    padding: 150px 0 0 0;
}
.redLine {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(163, 163, 163);
    margin: 30px auto 50px auto;
}
.bigTextSlide2 {
    font-family: "verlag","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #B0976D;
    font-size: 3em;
    line-height: 49px;
    font-weight: 500;
    letter-spacing: 7px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.smallTextSlide2 {
    font-family: "quadon","Helvetica Neue", Helvetica,Arial,sans-serif;
    color: white;
    font-size: 2em;
    line-height: 20px;
    font-weight: 200;
    display: block;
    padding-left: 15px;
    letter-spacing: 2px;
    padding-bottom: 35px;
}
.smallTexttSlide2 {
    font-family: "verlag","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(163, 163, 163);
    text-align: right;
    font-weight: 100;

}
.containerForm {
    height: 250px;
    padding: 10px;
    margin: 12px;
    position: relative;
    z-index: 100;
}
.rsvpForm input {
    width: 100%;
    height: 46px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
    list-style-type: none;
    outline: none;
    padding-left: 8px;
    padding-top: 2px;
    border: 1px solid white;
    background-color: rgb(28, 28, 28);
}

.rsvpForm textarea {
    height: 100px;
}
.rsvpFormButton {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #6cdd7b;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 0.875em;
    border: 1px solid #6cdd7b;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 1px solid #B0976D;
    letter-spacing: 3px;
    outline: none;
}
.rsvpFormButton:hover {
    background-color: white;
    border: 1px solid white;
    color: #6cdd7b;
}
.angular-google-map-container {
    height: 463px;
    width: 80%;
    margin-top: 10px;
    float:right;


}
.rsvpButtonText {
    font-family: "quadon","Helvetica Neue", Helvetica,Arial,sans-serif;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 200;
    display: block;
    letter-spacing: 0px;
    text-align: center;
}
.rsvpButton {
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgb(202, 223, 170);
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(202, 223, 170);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    outline: none;
}
.rsvpButton:hover {
    background-color: white;
    border: 1px solid white;
    color: rgb(202, 223, 170);
}
