/* slide 3   next event */
.bigTextSlide3 {
    font-family: 'Oswald', sans-serif;
    color: #B0976D;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 19px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.smallTextSlide3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(18, 18, 18);
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0px;
    padding-bottom: 5px;
}
.smallTexttSlide3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(163, 163, 163);
    font-weight: 100;
    font-size: 0.950em;
    letter-spacing: 1px;
    line-height: 40px;
}
.guestButton {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #B0976D;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid #B0976D;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    outline: none;
}
.guestButton:hover {
    background-color: white;
    border: 1px solid #B0976D;
    color: #B0976D;
}
.guestButton:focus {
    background-color: white;
    border: 1px solid #B0976D;
    color: #B0976D;
}
.rsvpButton {
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgb(202, 223, 170);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid rgb(202, 223, 170);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    outline: none;
}
.rsvpButton:hover {
    background-color: white;
    border: 1px solid rgb(202, 223, 170);
    color: rgb(202, 223, 170);
}
.rsvpButton:focus {
    background-color: white;
    border: 1px solid rgb(202, 223, 170);
    color: rgb(202, 223, 170);
}
.containerForm {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 555px;
    position: relative;
    z-index: 100;
}
.cName, .cEmail, .cWebsite {
    font-family: 'Roboto', sans-serif;
    color: rgb(18,18,18);
    font-size: 0.975em;
    font-weight: 100;
}
.cName {
    display: inline-block;
}
.cEmail{
    float:right;
    display: inline-block;
}
.cWebsite {
    display: block;
    text-align: right;
}
.guestList {
    width: 100%;
    border: 1px solid rgba(165, 165, 165, 0.55);
    height: 200px;
    overflow: scroll;
}
.RsvpForm input {
    width: 100%;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(18,18,18);
    font-size: 0.875em;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: none;
    list-style-type: none;
    outline: none;
    padding-left: 8px;
    padding-top: 1px;
    margin: 1px 0;
    border: 1px solid rgba(165, 165, 165, 0.55);
    background-color: rgb(255, 255, 255);
}

.submitRsvpButton {
    display: inline-block;
    width: 80%;
    height: 40px;
    background-color: rgb(202, 223, 170);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 0.875em;
    border: 1px solid rgb(202, 223, 170);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    outline: none;
}
.submitRsvpButton:hover {
    background-color: white;
    border: 1px solid rgb(202, 223, 170);
    color: rgb(202, 223, 170);
}
.cancelRsvpButton {
    display: inline-block;
    width: 20%;
    height: 40px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 0.875em;
    border: 1px solid #d05050;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    outline: none;
    background-color: #d05050;
}
.cancelRsvpButton:hover {
    background-color: white;
    border: 1px solid #d05050;
    color: #d05050;
}

.rsvpButtonText {
    font-family: 'Oswald', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 200;
    display: block;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 5px;
}
.guestButtonText {
    font-family: 'Oswald', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 200;
    display: block;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 5px;
}

.angular-google-map-container {
    height: 26vw;
    width: 100%;
    margin-bottom: 10px;
}
