/* slide 4   featured people */
.containerPeople{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    height: 100%;
}
#slide4 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.containerPeople h1 {
    text-align: center;
    color: #2b2925;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 30px;
}
#slide4 ul {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
#slide4 ul li {
    display: inline-block;
    margin: 0 20px;

}
#slide4 a {
    float: left;
}

.thumb {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    border: 5px solid #2b2925;
}
.thumbName {
    font-family: Lato, sans-serif;
    color: #2b2925;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-align:center;
    text-transform: uppercase;
    width: 120px;

}
.big {
    position: absolute;
    top: 250px;
    left: 2000px;
    -webkit-transition: left .7s ease;
    -moz-transition: left .7s ease;
    -o-transition: left .7s ease;
    -ms-transition: left .7s ease;
    transition: left .7s ease;
    width: 940px;
    padding-top: 50px;
}


.containerPeople a:focus .thumb {
    border: 5px solid rgb(151, 7, 12);

}
.containerPeople a:hover .thumb {
    border: 5px solid rgb(151, 7, 12);
}

.containerPeople a:focus .big{
    top: 250px;
    left: 240px;
    position: absolute;
    margin-left: auto;
    margin-right:auto;
}
.containerPeople a:active .big{
    top: 250px;
    left: 210px;
    position: absolute;
    margin-left: auto;
    margin-right:auto;
}



.leftFav {
    display: inline-block;
    float: left;
}
.leftFavTop {
    margin-left: 10px;
    width: 240px;
    height: 240px;
    background-color: rgb(245, 242, 242);
    margin-bottom: 15px;
    border-bottom: 3px solid rgb(151, 7, 12);
    border-top: 3px solid #2b2925;


}
.leftFavTop img {
    height: 100%;
    width: 100%;
}
.leftFavBottom {
    margin-left: 10px;
    width: 260px;
    height: 150px;
    /* background-color: rgb(151, 7, 12); */
}
.leftFavBottom div {
    font-family: Lato, sans-serif;
    color: #2b2925;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 0px;

}
.favName {
    font-size: 28px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.rightFav {
    display: inline-block;
    width: 65%;
    height: 100%;
    float: right;
}

.Q {
    color: #2b2925;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.A {
    font-family: Lato, sans-serif;
    color: #2b2925;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 20px;
    padding-left: 55px;
}
#favBio {
    font-size: 14px;
}
