/* slide 4   featured people */
#slide4 .container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.biggestTextSlide4 {
    font-family: 'Oswald', sans-serif;
    color: #B0976D;
    font-size: 2.500em;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}
#slide4 ul {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
#slide4 ul li {
    display: inline-block;
}

.thumb {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: 50;
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
     padding: 0;
     margin: 0 25px;
}
#slide4 a:focus .thumb {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#slide4 a:hover .thumb {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#slide4 a:focus .containerBig {
    top: 42%;
    left: 0%;
}
.bigFeature {
    width: 100vw;
    position: absolute;
    left: 0%;
    top: 55%;
    font-family: 'Oswald', sans-serif;
    color: rgba(196, 154, 120, 0.67);
    font-size: 2.500em;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease;
    z-index: 0;
}

.containerBig {
    position: absolute;
    top: 42%;
    left: 200%;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease;
    width: 100vw;
    z-index: 3;
    background-color: rgb(243, 243, 243);
}
.containerBig img {
    height: 25vw;
    width: 25vw;
}

#featName {
    text-transform: uppercase;
    color: #B0976D;
}
.text1Slide4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.750em;
    font-weight: 100;
    padding-bottom: 3px;
    color: rgb(18,18,18);
    letter-spacing: 1px;

}
.text2Slide4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375em;
    color: rgb(163, 163, 163);
    font-weight: 100;
}

.Q {
    color: rgb(18,18,18);
    font-size: 1.750em;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    font-family: 'Oswald', sans-serif;}

.A {
    font-family: 'Roboto', sans-serif;
    font-size: 1.063em;
    font-weight: 100;
    color: rgb(163, 163, 163);

}
