.bigTextSlide5 {
    font-family: "verlag","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #B0976D;
    font-size: 2.500em;
    line-height: 49px;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#slide5 img {
    margin: 0;
    padding: 0;
    width: 100%;
}
#slide5 ul {
    overflow: scroll;
/*     max-height: 480px;
 */}
#slide5 ul li {
    margin: 0;
    padding: 0;
}
.whiteLine {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    margin: 30px auto 50px auto;
}
