.bigTextSlide5 {
    font-family: "verlag","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #B0976D;
    font-size: 2.500em;
    line-height: 49px;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#slide5 img {
    margin: 0;
    padding:0;
    width: 100%;
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
     transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
#slide5 img:hover {
    -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
}
#slide5 ul {
    overflow: scroll;
    padding-bottom: 20px;
/*     max-height: 480px;
 */}
#slide5 ul li {
    margin: 0;
    padding: 0;
}
.whiteLine {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    margin: 30px auto 50px auto;
}
.showMore {
    font-family: Montserrat, sans-serif;
    display: inline-block;
    background-color: rgb(243, 243, 243);
    border: 1px solid white;
    padding: .8em;
    text-align: center;
    margin-top: 2em;
    letter-spacing: .25em;
    font-weight: 700;
    color: #B0976D;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    margin-bottom: 40px;
}

.showMore:hover {
    background-color: #B0976D;
    border: 1px solid #B0976D;
    color: white;


}
