#slide5 .container {
    padding: 0;
}
.bigTextSlide5 {
    font-family: 'Oswald', sans-serif;
    color: #B0976D;
    font-size: 2.500em;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
}
#slide5 img {
    margin: 0;
    padding:0;
    width: 100%;
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
     transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
#slide5 img:hover {
    -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
}
#slide5 ul {
    overflow: scroll;
    padding: 50px 0;
/*     max-height: 480px;
 */}
#slide5 ul li {
    margin: 0;
    padding: 0;
}

.showMore {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    background-color: rgba(246, 246, 246, 0);
    border: 1px solid white;
    padding: .8em;
    text-align: center;
    letter-spacing: .25em;
    font-weight: 100;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.showMore:hover {
    background-color: rgba(179, 149, 113, 0.5);
    border: 1px solid #B0976D;
    color: white;


}
