/* slide 6   contact */
#slide6 .container {
    padding-top: 150px;
}
.bigTextSlide6 {
    font-family: "quadon","Helvetica Neue", Helvetica,Arial,sans-serif;
    color: #B0976D;
    font-size: 2.688em;
    font-weight: 100;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.smallTextSlide6 {
    font-family: "quadon","Helvetica Neue", Helvetica,Arial,sans-serif;
    color: white;
    font-size: 1.250em;
    font-weight: 100;
}
.contactForm label {
    width: 390px;
    font-family: Lato, sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.contactForm input, textarea {
    width: 390px;
    height: 50px;
    border: 1px solid white;
    background-color: rgb(18, 18, 18);
    font-family: Lato, sans-serif;
    color: white;
    font-size: 1.250em;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: none;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 8px, 12px;
    outline:none;
}
.contactForm input {
    padding-left: 8px;
}
.contactForm textarea {
    padding-left: 8px;
    padding-top: 8px;
    height: 100px;
}
.contactFormButton {
    display: block;
    width: 390px;
    height: 64px;
    margin-top: 4px;
    background-color: #B0976D;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 1.250em;
    border: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    cursor:pointer;
    margin-bottom: 10px;
}
.contactFormButton:hover {
    background-color: white;
    color: #B0976D;
    border: 1px solid white;
}
