.slide {
    width: 100vw;
    min-height: 90vh;
    margin:0;
    padding:0;
    transform-style: inherit;
    position: relative;

}
.slide:before {
    content: "";
    position: absolute;
    top: -13vh;
    bottom: 0;
    left:0;
    right:0;
}

#slide1 {
    background-image: url("../images/ryan.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    z-index:-1;
    background-color: rgb(28, 28, 28);
    min-height: 114vh;
}
#slide2 {
    background-color: rgb(243, 243, 243);
    background-attachment: fixed;
    top: -13vh;

}
.slide2-3 {
    width: 100%;
    height: 350px;
    background-image: url("../images/singing.jpg");
    -webkit-background-size: cover;
    background-size: cover;

}
#slide3 {
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    top: -13vh;

}
#slide4 {
    background-color: rgb(243, 243, 243);
    background-attachment: fixed;
    min-height: 100vh;
    top: -13vh;

}
#slide5:before {
    background-image: url("http://subtlepatterns.com/patterns/binding_dark.png");
    transform: translateZ(-1px) scale(2);
    z-index:-1;
    background-color: rgb(28, 28, 28);
}
#slide6 {
    background-color: rgb(18, 18, 18);
    background-attachment: fixed;
}


/* invisible divs for the scrollTo feature to work */
#AboutUs {
    width: 100vw;
    height: 1px;
    position: inherit;
    z-index: -100;
}
#UpcomingEvent {
    width: 100vw;
    height: 1px;
    position: inherit;
    z-index: -100;
}

#FeaturedMemebers {
    width: 100vw;
    height: 1px;
    position: inherit;
    z-index: -100;
}
#Photos {
    width: 100vw;
    height: 1px;
    position: inherit;
    z-index: -100;
}
#ContactUs {
    width: 100vw;
    height: 1px;
    position: inherit;
    z-index: -100;
}
