* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    background-color: rgb(243, 243, 243);

}
label, input {
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    outline: none;
}


.wrapper {
    max-height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.centerText {
    text-align: center;
}
.leftText {
    text-align: left;
}
.rightText {
    text-align: right;
}
.hide {
    display: none;
}
.container {
    padding: 90px 0 90px 0;
}
