.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}
.parallaxLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100vh 0;

}
.parallaxLayerFore {
    -webkit-transform: translateZ(-2px);
    transform: translateZ(-2px);
}
.parallaxLayerBase {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallaxLayerBack {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
}
