* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 3;
}
.leftNav {
    float: left;
}
.home {
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-decoration: none;
    padding-right: 5px;

}
.rightNav {
    float:right;
}
.links {
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-decoration: none;
    padding-left: 5px;
}
.slideshow{
    position: relative;
    display: block;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 75vh;
}
.slide1 {
    background-color: red;
    height: 90vh;
}
.slide2 {
    background-color: green;
    height: 90vh;
}
.slide3 {
    background-color: pink;
}
.slide4 {
    background-color: yellow;
}
.slide5 {
    background-color: purple;
}
.slide6 {
    background-color: blue;

}

/* slide 1   splash */

/* slide 2   about/rules */
.slide2top {
    display: block;
    height: 50%;
    width: 100%;
    text-align: center;
}
.slide3bottom {
    display: block;
    height: 50%;
    width: 100%;
}
.rules {
    text-align: center;

}
.rule1 {
    display: inline-block;
    width: 49%;
    text-align: center;
}
.rule2 {
    display: inline-block;
    width: 49%;
    text-align: center;
}
/* slide 3   next event */
.slide3left {
    display: inline-block;
    width: 49%;
    text-align: center;
    float: left;
}
.slide3right {
    display: inline-block;
    width: 49%;
    text-align: center;
    height: 100%;
    float: right;
}
.map {
    height: 400px;
    width: 400px;
    background-color: white;
}
.
/* slide 4   featured */
ul {
    height: 60vh;
    margin: 0;
    padding: 0;
}
li {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
}
.leftFav {
    display: inline-block;
    width: 49%;
    height: 100%;
    float: left;
    text-align: center
}
.leftFav div, .leftFav img {
    padding-top: 20%;

}
.rightFav {
    display: inline-block;
    width: 49%;
    height: 100%;
    float: right;
    text-align: center

}

/* slide 5   photos */

/* slide 6   contact */
