<h1>update event</h1>
    <h2>date</h2>
    <input type="text" ng-model="adminCtrl.singleEvent.eventLocationDate" placeholder="location date">
    <h2>time</h2>
    <input type="text" ng-model="adminCtrl.singleEvent.eventLocationTime" placeholder="location time">
    <h2>location nam</h2>
    <input type="text" ng-model="adminCtrl.singleEvent.eventLocationName" placeholder="location name">
    <h2>address</h2>
    <input type="text" ng-model="adminCtrl.singleEvent.eventLocationAddress" placeholder="location address">
<button ng-click="adminCtrl.updateEvent(adminCtrl.singleEvent)">Update</button>
