<h1>update featured person</h1>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredPicture"    placeholder="featured picture"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredName"       placeholder="featured name"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredWebsite"    placeholder="featured website"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredProfession" placeholder="featured profession"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.featuredBio"        placeholder="featured bio"></h2>

<h2><input type="text" ng-model="adminCtrl.singlePerson.questionOne"        placeholder="question one"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.answerOne"          placeholder="answer one"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.questionTwo"        placeholder="question two"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.answerTwo"          placeholder="answer two"></h2>
<h2><input type="text" ng-model="adminCtrl.singlePerson.questionThree"      placeholder="question three"></h2>
<button ng-click="adminCtrl.updatePerson(adminCtrl.singlePerson)">Update</button>
